[submodule "thirdparty/glad"]
	path = thirdparty/glad
	url = git@github.com:StraitX-Dependencies/glad
[submodule "thirdparty/vulkan-sdk"]
	path = thirdparty/vulkan-sdk
	url = git@github.com:StraitX-Dependencies/vulkan-sdk
[submodule "thirdparty/stb_image"]
	path = thirdparty/stb_image
	url = git@github.com:StraitX-Dependencies/stb_image
[submodule "thirdparty/glsl2spv"]
	path = thirdparty/glsl2spv
	url = git@github.com:e1hephaestus/glsl2spv
[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = git@github.com:StraitX-Dependencies/imgui
